.navbar {
  background: var(--bg-color);
  border-bottom: 1px solid var(--border-color);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
}

.navbar-logo {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 700;
}

.navbar-logo:hover {
  color: var(--accent-color);
  text-decoration: none;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: var(--text-color-dark);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  transition: all 0.2s ease-in-out;
}

.nav-links:hover {
  color: var(--accent-color);
  text-decoration: none;
}